/*
 * Colour Style Document for ResourceSpace
 *
 * Standard colour and decorative css should be contained within this file
 * Standard structural styling should be placed inside global.css
 * 
 */
body,html {color:#555;background: #FFF;}
h2 {color: #000000;}
h1 {color: #000000;}

a:link {color:#737373;}
a:visited {color:#737373;}
a:hover {color:#000000;}
a:active {color:#737373;}
input[readonly] {color: #000000;}

#Header {
  background: #FFF url("../gfx/titles/title.gif") no-repeat;
  background-position: 20px 10px;
  border-bottom: 1px solid #d7d7d7;
}
#Header #HeaderButtons a:link, #Header #HeaderButtons a:visited,#Header #HeaderButtons a:active {color:#1B1B1B;}
#Header #HeaderButtons a:hover{color:rgba(0, 62, 81, 0.82); text-decoration: none;}
.SlimHeader #Header {background: linear-gradient(#424242 , #1B1B1B);border:none;}
.SlimHeader #Header a{color:#D6D6D6;}
.SlimHeader #Header a:hover, .SlimHeader #Header .current {color:#FFF; text-decoration: none;}
.SlimHeader #Header #HeaderButtons a:link, .SlimHeader #Header #HeaderButtons a:visited,.SlimHeader #Header #HeaderButtons a:active {color:#1B1B1B;}
.SlimHeader #Header #HeaderButtons a:hover{color:rgba(0, 62, 81, 0.82); text-decoration: none;}

#Footer {border-top: 1px solid #BBBBBB;}
#TextHeader, #TextHeader a {color:#616161;}
#TextDesc{color:#616161;}
.TopInpageNav {border-bottom: 1px solid #BBBBBB;}

.FormError {color: #FF0000;}
.FormIncorrect {color: #FF0000;border: 1px solid #BBBBBB;background: #FFFFFF;}
.PageInformal {color: #FF0000;border: 1px solid #BBBBBB;background: #FFFFFF;}
.HorizontalWhiteNav a:link, 
.HorizontalWhiteNav a:visited, 
.HorizontalWhiteNav a:active, 
.BasicsBox .VerticalNav a:link, 
.BasicsBox .VerticalNav a:visited, 
.BasicsBox .VerticalNav a:active,  
.ListTitle a:link, 
.ListTitle a:visited, 
.ListTitle a:active 
	{color:#737373;}
.HorizontalWhiteNav a:hover, .BasicsBox .VerticalNav a:hover, .ListTitle a:hover {color:#000000;}
.HorizontalWhiteNav li, .HorizontalNav li {border-left:1px solid #737373;}
/* Search Bar */
#SearchBoxPanel a:link, #SearchBoxPanel a:visited, #SearchBoxPanel a:hover, #SearchBoxPanel a:active,
#ResearchBoxPanel a:link, #ResearchBoxPanel a:visited, #ResearchBoxPanel a:hover, #ResearchBoxPanel a:active
{color:#fff;}

#ThemeBoxPanel,  .RecordPanel, .ResourcePanel, .ResourcePanelSmall, .ResourcePanelLarge{background: #eee;}
#ThemeBoxPanel, #SearchBoxPanel, #ResearchBoxPanel, .HomePanelIN, .RecordPanel .RecordDownload, .RecordPanel, .ResourcePanel, .ResourcePanelSmall, .ResourcePanelLarge
	{
	border-radius:5px;
	}
#easyTooltip{
	background: inherit;
	border: 1px solid;
	border-radius:5px;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, .5);
}
#advancedTooltip{
	background: inherit;
	border: 1px solid;
	border-radius:5px;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, .5);
}
#SearchBoxPanel h2, #ThemeBoxPanel h2, #ResearchBoxPanel h2{color: #fff;}

/* Collection Bar */
.ui-layout-resizer {background-color: #383838;background: linear-gradient(#A5A5A5,#000000); }
.ui-layout-toggler-open-hover{border-radius:2px;background-color:#E0E0E0;background: linear-gradient(#E0E0E0,#383838);}
.CollectBack {color:#E0E0E0;background: linear-gradient(#2E2E2E , #1B1B1B);}
#CollectionMenu {border-right: 1px solid #737373;}
#CollectionMinRightNav li {border-left:1px solid #E0E0E0;}
.CollectBack a:link, .CollectBack a:visited, .CollectBack a:active,.CollectBack h2 {color:#E0E0E0;}
.CollectBack a:hover{color:#FFF;}
.CollectBack h2 a:link, .CollectBack h2 a:visited, .CollectBack h2 a:active, .CollectBack h2 a:hover {color:white;}
/* Use different icons for the collections bar */
.CollectionPanelInfo .IconComment {background: url(../gfx/interface/IcComment.gif) no-repeat;}
.CollectionPanelInfo .IconCommentAnim {background: url(../gfx/interface/IcComment_anim.gif) no-repeat;}
.CollectionPanelInfo .IconRemove {background: url(../gfx/interface/IcRemove.gif) no-repeat;}
/* Home */
.HomePanel a:link, 
.HomePanel a:visited, 
.HomePanel a:active, 
.HomePanel a:hover
	{color:#FFF;}
.HomePanel h2{color:#FFF;}

#SearchBoxPanel, #ResearchBoxPanel,#HomeSiteText.dashtext,.HomePanelIN {
	background: rgba(30, 30, 30, 0.70);
	color:#FFF;
}
#HomeSiteText{padding:10px;}
#HomeSiteText.dashtext h1{color:#FFF;}
#SlideshowContainer #HomeSiteText.dashtext h1{color:#373737;}
#SlideshowContainer #HomeSiteText.dashtext {background:transparent;border:none;color:#373737;}

/* End Home */

.ImageBorder, .Picture, .VideoBorder {border: 1px solid #000000;}	
.CollectImageBorder {border: 1px solid #000000;}	
.ASC	{	background: url(../gfx/interface/ASC.gif) no-repeat;background-position:center;}
.DESC	{	background: url(../gfx/interface/DESC.gif) no-repeat;background-position:center;}
.IconUserRatingStar	{	background: url(../gfx/interface/RatingStarRed.gif) no-repeat;}
.IconUserRatingSpace	{	background: url(../gfx/interface/RatingStarBlank.gif) no-repeat;}
.StarSelect {background: transparent url(../gfx/interface/RatingStarRed.gif) no-repeat;}
.StarEmpty {background: transparent url('../gfx/interface/RatingStarMedGrey.gif') no-repeat;}
.StarCurrent {background: transparent url('../gfx/interface/RatingStarGrey.gif') no-repeat;}

.NavUnderline {border-bottom: 1px solid #5A7599;}
.ListviewStyle thead,.ListviewTitleStyle{background:#DDD;}
.Question{border-top: 1px solid #BBBBBB;}
.Question select .optionWeekend { background-color: #ccc; }
.Question.FieldSaveError {background-color: #F1A9A0;}
div.autocomplete {background-color:white;border:1px solid #888;}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {color: #000;}
#outerImageContainer{ background-color: #fff;}
#imageDataContainer{ background-color: #fff;}
#imageData{color: #666;}
#imageData #caption{ font-weight: bold;	}
#overlay{ background-color: #000;}
.FormHelpInner{background-color:#ffffff;color:black;border:1px solid #000000;border-radius:3px;}
.RecordPanel .RecordDownloadSpace .DownloadDBlend h2 {color: white;}
.RecordDownloadSpace .HorizontalWhiteNav a:active, .RecordPanel .RecordDownloadSpace .HorizontalWhiteNav a:hover {color:#FFFFFF;} 
.NoFind {border: 1px solid #BBBBBB;background: #FFFFFF;}
.NoFind .highlight {color:#000000;font-weight: bold;}
.NoFind a:link, .NoFind a:visited, .NoFind a:hover, .NoFind a:active {color:#000000;text-decoration:underline;}
.RecordPanel .Title,  {	border-bottom: 1px solid #BBBBBB;}
.ViewPanelTitles { 	border-bottom: 1px solid #BBBBBB;}
.ViewPanelTitles .Title { border-bottom: 0; }
.RecordDownload {  background: #fff;}
.RecordPanel .RecordDownload .DownloadDBlend td {border: 1px solid #E2E2E2;color: #FFFFFF;}
.RecordPanel .RecordDownloadSpace .DownloadDBlend .DownloadButton {background: linear-gradient(rgba(0, 90, 117, 0.82),rgba(0, 71, 93, 0.81));background-color: rgba(0, 62, 81, 0.82);}
.RecordPanel .RecordDownloadSpace .DownloadDBlend p {color: #F0F0F0;text-align: left;}
.RecordPanel .RecordDownloadSpace .DownloadDBlend a {color: #FFFFFF;text-align: left;}
.RecordPanel .RecordDownloadSpace .DownloadDBlend {background: #979797;	border-color: #6D6D6D;}
.ArchiveResourceTitle, .ResourcePendingSubmissionTitle, .ResourcePendingReviewTitle {color: #888;}
.DeletedResourceTitle {color: #FF0000;}
.RecordStory{color: #000000;background: #FFFFFF; border: 1px solid #BBBBBB;}
.RecordStory h1{color: #000000;}
.RecordStory a:hover{color: #000000;}
.RecordStory .highlight {color:black;}
.BasicsBox .HorizontalNav li {border-right:1px solid #B5C3D4;border-top-style: none;border-bottom-style: none;border-left-style: none;}
.ThemeBox {border-bottom: 1px solid #BBBBBB;}
.CategoryBox {border:1px solid #999999;background-color:#ffffff;color: black;font-weight: normal;}
.MiniCategoryBox {border:1px solid #999999;background-color:#ffffff;color: black;font-weight: normal;}
.CategoryTree {border-top:1px solid #737373;border-left:1px solid #999999;border-bottom:1px solid #999999;border-right:1px solid #999999;background-color:white;color: black;font-weight: normal;}

/* Star Ratings */
.StarSelect {background: transparent url('../gfx/interface/RatingStarRed.gif') no-repeat;}
.StarWhite {background: transparent url('../gfx/interface/RatingStarWhite.gif') no-repeat;}
.StarGrey {background: transparent url('../gfx/interface/RatingStarGrey.gif') no-repeat;}
.RatingStars a:hover {text-decoration:none;}
.Listview .ListViewSubTable,.Listview .ListViewSubTable td,.Listview .ListViewSubTable tr {background-image: none;}
.StarEmpty {  background: transparent url('../gfx/interface/RatingStarGrey.gif') no-repeat;}
.StarCurrent { background: transparent url('../gfx/interface/RatingStarWhite.gif') no-repeat;}
.highlight {color: #000;background-color: #ff0;}
.Tab a {border: 1px solid #BBBBBB;border-bottom-style: none;color: #aaaaaa;  }
.StyledTabbedPanel 
    {
    background: #fefefe linear-gradient(#fff,#eee);
	border: 1px solid #BBBBBB;
    }
.TabSelected  
    { 
    background: #ffffff;  
    border-bottom: 1px solid #ffffff; 
    border-top: 1px solid #ffffff;
    border-left: #bbbbbb;
    }
.TabSelected a { color: #666666; }
.InfoTable {border-collapse:collapse;}
.InfoTable tr {background: #597499 linear-gradient(#FFF,#EEE);}
.InfoTable td {border:1px solid #BBBBBB;border-top:1px solid #BBBBBB;}
#InfoBoxInner {color:black;}
#InfoBoxInner h2 {color:black;font-weight:bold;}
#InfoBoxInner p {color:black;}
#InfoBoxCollectionInner {color:black;}
#InfoBoxCollectionInner h2 {color:black;}
#InfoBoxCollectionInner p {color:black;}
.ListviewBoxedTitleStyle td {background-color:#fff;}
.NewFlag {background-color:#737373;color:#fff;}
/* Mouseover effect on list views */
.ListviewStyle tr:hover td {background-color: #EEE;} 
.ListviewStyle tr.ListviewTitleStyle:hover td {background:none;background-color:#F3F3F3;} 
.ListviewStyle tr.ListviewBoxedTitleStyle:hover td {background:none;background-color:#fff;} 
/* single file upload progress bar */
.meter-value {background-color: #BBBBBB;}
.meter-wrap{border:1px solid #BBBBBB;}
/* System Setup */
.treetext {color: #000000;}
.treetext a:link {color: #000000; background: none;}
.treetext a:visited {color: #000000; background: none;}
.treetext a:hover {color: #000000; background: none;}
.treetext a:active {color: #000000; background: none;}

.plupload_container {padding:0px;}
.plupload_logo {background-image:none;}
.plupload_header_content {color:#1c94c4;}
li.plupload_droptext {color:#999;}
.plupload_file_size{color:#777;}
#pluploader .plupload_header, #pluploader .plupload_add, #pluploader .plupload_start, #pluploader .plupload_file {opacity:1;} 
#pluploader .ui-button-disabled {opacity:.3;}
#pluploader .plupload_header {border-top:0px;border-right:0px;border-left:0px;border-bottom-color:#AAA;background: #e6e6e6 url("smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") 0% 58% repeat-x;}
.plupload_view_list .plupload_message.ui-state-error, .plupload_view_thumb .plupload_message.ui-state-error {background: #fef1ec url("smoothness/images/ui-bg_glass_95_fef1ec_1x400.png") 0% 58% repeat-x;}
.plupload_message.ui-state-error p {color:#555;}
#pluploader .plupload_filelist_footer {border-bottom:0px;border-left:0px;border-right:0px;}
.plupload_view_list .plupload_filelist_header {border-top:1px;border-right:0px;border-left:0px;}
.plupload_view_list .plupload_file {border-top:0px;border-right:0px;border-left:0px;background: #e6e6e6 url("smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") 0% 54% repeat-x;}
.Terms{color:#000;border: 1px solid #ccc;background: #fff;}
.ui-layout-toggler-open-hover{background-color:rgb(160,175,195);}
.proptitle{color: #FFFFFF;background: rgb(119,119,119);}	
.propbox{color: #000000;background: #FFFFFF;}
.propbox a:link {color: rgb(115,115,115); background: none;}
.propbox a:visited {color: rgb(115,115,115); background: none;}
.propbox a:hover {color: #000000; background: none;}
.propbox a:active {color: #000000; background: none;}
.permissionstable tr td.permheader{color: #000000;background: rgb(221,221,221)}
.permissionstable tbody{color: #000000;}
.CodeMirror-wrapping{color: #000000;background: #FFFFFF;}


.CommentFlag { background-image: url('../gfx/interface/FlagOff.png'); }
.CommentEntryInfoCommenterName { color: #3070bf; }
.CommentBody { color: #000000}
/* Dash Tiles */
#dash_tile_bin {
	border-top-right-radius: 10%150px;
	border-bottom-right-radius: 10%150px;
}
#dash_tile_bin.ui-state-hover {
	background:#000;
	background:rgba(0, 0, 0, 0.55);
	border:#2f2f2f 1px solid;
	color:#d7d7d7;
}
#dash_tile_bin.ui-state-active {
	background: rgba(114, 22, 37, 0.51);
  	border: 1px solid #d0d0d0;
}
.dash_tile_bin_text {color: #fff;}

/* Shadowy Styling */
.HomePanelDynamicDash.TileContentShadow h2, .HomePanelDynamicDash.TileContentShadow p, .HomePanelDynamicDash.TileContentShadow,
.TileContentShadow {
	text-shadow: 1px 1px 8px #090909;
	color:#fff;
}
.HomePanel h2.title {background: transparent;color:#fff;}
.HomePanel .HomePanelDynamicDash h2{background:transparent;}
.HomePanelDynamicDash p.tile_corner_box {background: rgba(19, 19, 19, 0.67);border-top-left-radius: 5px;color:#fff;}

/* Delete Dialog */
.delete-dialog .ui-dialog-titlebar,  .ui-dialog-titlebar{
	background-color: #d7d7d7;
  	background: linear-gradient(#d3d3d3,#dfdfdf);
  	border: #878787;
  	color: #3A3A3A;
}
.delete-dialog .ui-state-default .ui-button-text, .ui-state-default .ui-button-text{color: #000000;background-color: #FFF;}
.delete-dialog .ui-state-default.ui-state-hover .ui-button-text, .ui-state-default.ui-state-hover .ui-button-text {color: #FFF;background-color: #3A3A3A;}
.delete-dialog .ui-state-default.ui-state-focus, .ui-state-default.ui-state-focus {border:solid 1px #878787;}
.delete-dialog .ui-state-default.ui-state-hover, .ui-state-default.ui-state-hover {border:solid 1px #878787;}

/* Trash Bin */
#trash_bin.ui-state-hover {
	border: #2f2f2f 1px solid;
	background: #000;
	background: rgba(0, 0, 0, 0.55);
	color: #d7d7d7;
}
#trash_bin.ui-state-active, .ui-state-active {border: 1px solid #d0d0d0;background: rgba(114, 22, 37, 0.51);}
#trash_bin {border-top-right-radius: 10% 150px;border-bottom-right-radius: 10% 150px;}
.trash_bin_text {color: #fff;}
.ui-draggable-dragging {border: 2px solid;}

/* Responsive SpriteSheet */
.glyph_user {background:url('../plugins/rse_responsive/gfx/responsive_spritesheet_charcoal.png') -20px 0;}
.glyph_menu {background:url('../plugins/rse_responsive/gfx/responsive_spritesheet_charcoal.png') 0 0;}
.glyph_result {background:url('../plugins/rse_responsive/gfx/responsive_spritesheet_charcoal.png') -40px 0;}


/* Modal */
#modal_overlay {
    background: #000;
}

#modal
    {
    background-color:rgb(238, 238, 238);
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    }
#modal .RecordHeader, #modal .BasicsBox h1, #modal .TopInpageNav
  {
  background: linear-gradient(#424242 , #1B1B1B);
  color: #fff;
  }
#modal .RecordHeader h1, #modal .BasicsBox h1
  {
  color: #fff;
  }
#modal .RecordHeader a, #modal .TopInpageNav, #modal .TopInpageNav a
  {
  color:#e0e0e0;
  }
#CollectionDiv select
  {
  background-color: #555;
  color:#fff;
  border:none; 
  }

/* Messaging */
span.Pill {
    color: white;
    background: red;
}
div#MessageContainer { }
div.MessageBox {
    border: 1px solid darkgray;
    background: rgba(220,220,220,0.9);
}
div.MessageBox a {
    color: inherit !important;
}

#login_box {
	background: rgba(30, 30, 30, 0.7);
	border: 1px solid #B0B0B0;
}

#login_box, #login_box h1,  #login_box a{
	color: #FFF;
}

.highlighted {
	border: 3px solid #F00 !important;
}
UL.jqueryFileTree A {color:#000;background-color:initial;}
UL.jqueryFileTree A:hover {background-color:initial !important;}
